@mixin overlay($offset: 0) {
  bottom: $offset;
  left: $offset;
  position: absolute;
  right: $offset;
  top: $offset;
}

%overlay {
  @include overlay;
}

@mixin has-border() {
  position: relative;

  &::after {
    display: block;
    position: absolute;
    content: "";
    border: 1px solid rgba(white, 0.75);

    top: $spacer-1;
    right: $spacer-1;
    bottom: $spacer-1;
    left: $spacer-1;

    @include media-breakpoint-up(md) {
      top: $spacer-2;
      right: $spacer-2;
      bottom: $spacer-2;
      left: $spacer-2;
    }
  }
}

%has-border {
  @include has-border;
}

@mixin blockify() {
  margin: $spacer-3 auto;

  @include media-breakpoint-up(md) {
    margin: $spacer-5 auto;
  }
}

%blockify {
  @include blockify();
}
