// Sizing
$narrow: 640px;

// Transitions
$page-transition-duration: 150ms;

// Spacing
$spacer-1: $spacer * 0.25;
$spacer-2: $spacer * 0.5;
$spacer-3: $spacer;
$spacer-4: $spacer * 1.5;
$spacer-5: $spacer * 3;

$spacer-xs: $spacer * 0.125;
$spacer-sm: $spacer-1;
$spacer-md: $spacer-3;
$spacer-lg: $spacer-5;
$spacer-xl: $spacer * 5;
