.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacer-5;

  &.has-bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 1px 20px rgba($black, 0.65);
  }

  &.has-border {
    position: relative;
    @extend %has-border;
  }

  &.is-bottom {
    .hero-body {
      padding-top: 14rem;
      padding-bottom: 2rem;
    }

    @include media-breakpoint-up(md) {
      .hero-body {
        padding-top: 32rem;
        padding-bottom: 4rem;
      }
    }
  }

  &.has-vignette {
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(transparent 70%, rgba($black, 0.35));
    }
  }

  .hero-header {
    position: relative;
    z-index: 1;

    .title {
      @extend .display-2;
      font-weight: normal;
      color: $white;
    }

    .subtitle {
      font-weight: 300;
      color: $white;
    }
  }

  .hero-body {
    width: 100%;
    text-align: center;

    padding: 4rem;

    @include media-breakpoint-up(sm) {
      padding: 8rem 6rem;
    }

    @include media-breakpoint-up(md) {
      padding: 16rem 8rem;
    }
  }
}
