#main {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  &.is-narrow {
    max-width: $narrow;
  }
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity $page-transition-duration ease-in-out;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity $page-transition-duration ease-in-out;
}

.media {
  &.is-centered {
    justify-content: center;
    align-items: center;
  }
}
