.navbar {
  &.wj {
    .nav-link {
      text-transform: uppercase;
    }
  }
  &.bg-transparent {
    background: transparent;
  }

  &.centered {
    @include media-breakpoint-up(md) {
      .navbar-nav {
        width: 100%;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

.logotype {
  > img {
    margin: 0;
    margin-right: $spacer-2;
    max-height: 32px;

    @include media-breakpoint-up(md) {
      display: block;
      margin: 0 auto $spacer-2;
      max-height: 40px;
    }
  }

  color: $primary;
  text-align: center;
  font-family: $font-family-serif;
  font-weight: bold;
  font-size: $font-size-base;
}
