hr {
  width: 40%;
  margin: $spacer-3 auto;

  @include media-breakpoint-up(md) {
    margin: $spacer-5 auto;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-serif;

  small {
    font-size: 0.75em;
    font-style: italic;
  }
}

address {
  font-style: italic;
}
