hr {
  width: 35%;
  text-align: center;
  @extend %blockify;

  &::after {
    color: $primary;
    content: "❧";
    display: inline-block;
    position: relative;
    top: -.75em;
    font-size: $font-size-lg;
    padding: 0 $spacer-2;
    background: $body-bg;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-serif;

  small {
    font-size: 0.75em;
    font-style: italic;
  }
}

address {
  font-style: italic;
}

.subtitle {
  opacity: 0.85;
}

p, ul {
  &:last-child {
    margin-bottom: 0;
  }
}
