@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Nunito+Sans");

// Fonts
$serif: "Libre Baskerville", "Baskerville", serif;
$sans: "Avenir", "Nunito Sans", sans-serif;

// Colors
$paper: #f8f7f5;
$green: #5a7955;
$red: #e23b50;
$text: #555558;

// this variable should match the timeout setting in _app
$page-transition-duration: 150ms;

// Update Bulma's global variables
$family-secondary: $serif;
$primary: $green;
$link: $green;
$footer-background-color: $paper;

@import "~bulma/bulma";
@import "./components/type", "./components/layout", "./components/nav",
  "./components/hero", "./components/images";
