// Dependencies
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Nunito+Sans");
@import '~modularscale-sass/stylesheets/modularscale';
@import "./components/overrides";

// Import Bootstrap with Overrides
@import "~bootstrap/scss/bootstrap";

// Custom SCSS
@import "./components/vars";
@import "./components/mixins";

@import "./components/footer";
@import "./components/hero";
@import "./components/images";
@import "./components/layout";
@import "./components/nav";
@import "./components/type";
@import "./components/timeline";
@import "./components/photo_wall";

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity $page-transition-duration ease-in-out;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity $page-transition-duration ease-in-out;
}
